<%- include("partials/header") %>

<h1 class="">Search For a Movie</h1>

<div>
  <form class="" action="/results" method="GET">
    <input type="text" placeholder="Search for a Movie" name="search">
    <input type="submit">
  </form>
</div>


<%- include("partials/footer") %>